<div class="page-header">
  <h3 class="page-title">Pendaftaran</h3>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a routerLink="/pendaftaran/manage-pendaftaran">Pendaftaran</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        Seleksi Pendaftaran
      </li>
    </ol>
  </nav>
</div>
<div class="row">
  <div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="card-title">
          <div class="row">
            <div class="col-8"></div>
            <div class="col-4">
              <input
                class="form-control filter"
                (keyup)="applyFilter($event.target.value)"
                placeholder="Filter"
              />
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <mat-table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="no">
              <mat-header-cell
                *matHeaderCellDef
                mat-sort-header
                class="text-center"
              >
                No
              </mat-header-cell>
              <mat-cell *matCellDef="let row; let i = index">
                {{ i + 1 }}
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="foto">
              <mat-header-cell
                *matHeaderCellDef
                mat-sort-header
                class="text-center"
              >
                Foto
              </mat-header-cell>
              <mat-cell *matCellDef="let row">
                <img [src]="row.imageUrl" alt="image" class="effect" />
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="nama">
              <mat-header-cell
                *matHeaderCellDef
                mat-sort-header
                class="text-center"
              >
                Nama
              </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{ row.nama }} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="jenisKelamin">
              <mat-header-cell
                *matHeaderCellDef
                mat-sort-header
                class="text-center"
              >
                Jenis Kelamin
              </mat-header-cell>
              <mat-cell *matCellDef="let row">
                {{ row.jenisKelamin }}
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="jurusan">
              <mat-header-cell
                *matHeaderCellDef
                mat-sort-header
                class="text-center"
              >
                Jurusan
              </mat-header-cell>
              <mat-cell *matCellDef="let row">
                {{ row.jurusan }}
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="tanggalDaftar">
              <mat-header-cell
                *matHeaderCellDef
                mat-sort-header
                class="text-center"
              >
                Tanggal Daftar
              </mat-header-cell>
              <mat-cell *matCellDef="let row">
                {{ row.tanggalDaftar | date: "dd/MM/yyyy" }}
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="status">
              <mat-header-cell
                *matHeaderCellDef
                mat-sort-header
                class="text-center"
              >
                Status
              </mat-header-cell>
              <mat-cell *matCellDef="let row">
                <ng-containter *ngIf="row.status == 'pending'; else noVerif">
                  <div class="d-flex justify-content-between flex-nowrap">
                    <button
                      type="button"
                      class="btn btn-gradient-success btn-sm btn-icon"
                      (click)="approve(row)"
                    >
                      <i class="mdi mdi-check"></i>
                    </button>
                    <button
                      type="button"
                      class="btn btn-gradient-danger btn-sm btn-icon"
                      (click)="decline(row.id)"
                    >
                      <i class="mdi mdi-close"></i>
                    </button>
                  </div>
                </ng-containter>
                <ng-template #noVerif>
                  <div
                    class="badge badge-success badge-pill"
                    *ngIf="row.status == 'settle'"
                  >
                    Diterima
                  </div>
                  <div
                    class="badge badge-danger badge-pill"
                    *ngIf="row.status == 'cancel'"
                  >
                    Ditolak
                  </div>
                </ng-template>
              </mat-cell>
            </ng-container>

            <mat-header-row
              *matHeaderRowDef="displayedColumns"
            ></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns"> </mat-row>
          </mat-table>

          <div *ngIf="dataSource?.data.length === 0" class="no-data">
            <p class="text-secondary">Data Tidak Ditemukan</p>
          </div>

          <ngx-loading
            [show]="loading"
            [config]="{
              animationType: ngxLoadingAnimationTypes.cubeGrid,
              primaryColour: primaryColour,
              secondaryColour: secondaryColour,
              tertiaryColour: primaryColour,
              backdropBorderRadius: '3px'
            }"
            [template]="loadingTemplate"
          ></ngx-loading>

          <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        </div>
      </div>
    </div>
  </div>
</div>
