table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

mat-cell {
  word-break: break-all !important;
  text-align: center !important;
  justify-content: center !important;
}

mat-header-cell {
  word-break: break-all !important;
  text-align: center !important;
  justify-content: center !important;
}

mat-cell:nth-child(1),
mat-header-cell:nth-child(1) {
  flex: 0 0 10%;
}

.w-10 {
  width: 10%;
}

.filter {
  width: 60%;
  float: right;
}

.effect {
  width: 65%;
  padding: 10px;
  border-radius: 100%;
  height: 100px;
}

.no-data {
  padding: 10px;
  text-align: center;
}
