.txt-center {
  text-align: center;
}

.txt-justify {
  text-align: justify;
}

.effect {
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
  border-radius: 20px;
  height: 250px;
}

.brd-danger {
  border: 1px solid #fe7096;
}