<div class="row">
  <div class="col-md-12 stretch-card grid-margin">
    <div class="card bg-gradient-primary card-img-holder text-white">
      <div class="card-body">
        <img
          src="assets/images/dashboard/circle.svg"
          class="card-img-absolute"
          alt="circle-image"
        />
        <h2 class="font-weight-normal text-center">Baca Berita</h2>
        <div class="text-center">
          <button type="button" class="btn btn-link btn-sm" routerLink="/home">
            Kembali
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body no-pad">
        <h4 class="card-title">{{ berita?.judul }}</h4>
        <div class="d-flex">
          <div
            class="d-flex align-items-center mr-4 text-muted font-weight-light"
          >
            <i class="mdi mdi-account-outline icon-sm mr-2"></i>
            <span>{{ berita?.namaPenulis }}</span>
          </div>
          <div class="d-flex align-items-center text-muted font-weight-light">
            <i class="mdi mdi-clock icon-sm mr-2"></i>
            <span>{{ berita?.tanggalUpload | date: "MMM d, y" }}</span>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-12 pr-3">
            <img
              [src]="berita?.imageUrl"
              class="mb-2 mw-100 w-100 rounded height-24"
              alt="image"
            />
          </div>
        </div>
        <div class="d-flex mt-3 align-items-top">
          <div class="mb-0 flex-grow txt-center">
            <p class="mb-0 font-weight-light wrd-break">
              {{ berita?.isiBerita }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ngx-loading
  [show]="loading"
  [config]="{
    animationType: ngxLoadingAnimationTypes.cubeGrid,
    backdropBorderRadius: '3px'
  }"  
></ngx-loading>
